.nav {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background: rgba(148, 78, 99, 0.7);
  backdrop-filter: blur(3px);
  padding: 1px;
  border-radius: 10px;
  z-index: 9999;
}
