@font-face {
  font-family: "Comfortaa"; /* Specify the font family name */
  src: url("./assets/fonts/Urbanist/static/Urbanist-Light.ttf")
    format("truetype"); /* Specify the path to your font file and its format */
}

body {
  font-family: "Comfortaa", sans-serif; /* Apply the custom font to the body */
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0 5px;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
}

input {
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
}
