.container {
  background-image: url("../../assets/backgrounds/activities.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container > div {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}