.detailContainer {
  background-image: url("../../assets/backgrounds/bg-elephants.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92.3vh;
  padding-top: 70px;
  background-position: center;
}

.detailBody {
  background-color: #ffffffb3; /* Adjust background color */
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 400px;
}

.countryInfo {
  display: flex;
}

.countryInfo > div {
  margin-right: 20px;
}

.countryInfo img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.details > div {
  margin-bottom: 10px;
}

.detailBody h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.detailBody h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.detailBody p {
  margin: 0;
}

.flagContainer {
  width: 200px; /* Set your desired width */
  height: 300px; /* Set your desired height */
}

.flagImage {
  width: auto;
  max-height: 200px;
}

.link {
  color: black;
}
