.activityCard {
  background-color:  rgb(255, 231, 231, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 20rem;
}

.headDiv {
  margin-bottom: 25px;
  color: #944E63;
  border-bottom: 2px solid #944E63;
  display: flex;
  align-items: center;
  position: relative;
}

.headDiv h2 {
  text-align: center;
  flex: 1;
  margin: 1rem 0;
}

.headDiv button {
  font-size: medium;
  font-weight: bold;
  color: #944E63;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}


.activityCard .details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #944E63;
  padding: 1rem;
  background-color: rgb(180, 123, 132, 0.4);
  border-radius: 10px; 
}

.activityCard .details h4 {
  font-size: 16px;
  margin: 1rem;
}

.activityCard .details p {
  margin: 0;
  font-size: 14px;
}

.countriesMargin {
  color: #944E63;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pMargin {
  color: #944E63;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flags{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.flags img{
  width: 4rem;
  height: 3rem;
  margin: 0.3rem;
  border-radius: 10px;
}
.flags img:hover {
  filter: opacity(50%);
}