.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: RGB(255, 231, 231, 0.7); /* Adjust background color */
  backdrop-filter: blur(3px);
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  min-height: 170px;
  max-height: 170px;
}

.card:hover {
  transform: scale(98%);
  background-color: RGB(255, 231, 231, 0.9);
}

.cardContent {
  display: flex;
  align-items: center;
}

.cardImage {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.cardText {
  flex: 1;
  font-size: large;
}

.cardTitle {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: bold;
}

.cardSubText {
  font-size: 16px;
  font-weight: 400;
}
