.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.searchInput {
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border: none;
  background-color: #FFE7E7;
  width: 30rem;
  border-radius: 10px;
  height: 2rem;
}

.searchBarBtns {
  background-color: #944E63;
  transition: transform 0.3s ease-in-out;
  font-size: 1em;
  color: #FFE7E7;
  border: none;
  border-radius: 10px;
  height: 2.3rem;
  min-width: 6rem;
  font-weight: bold;
}

.searchBarBtns:hover {
  background-color: #B47B84;
}
