.button {
  background-color: #FFE7E7; 
  color: rgba(148, 78, 99, 0.9);
  padding: 10px 20px; 
  border: 2px solid rgba(148, 78, 99, 0.9); 
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 60px; 
  font-size: larger;
  transition: 0.7s;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(105%);
}
