.homeBackground {
  background-image: url("../../assets/backgrounds/countries.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
}

.filterSection {
  text-align: center;
  padding-top: 100px;
}

.filterSelect {
  padding: 5px;
  margin-right: 10px;
  background-color: #944E63;
  color: #FFE7E7;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.filterSelect:focus {
  outline: none;
}

.filterSelect:hover {
  background-color: #B47B84;
}

.filterResetBtn {
  background-color: #944E63;
  transition: transform 0.3s ease-in-out;
  border-radius: 30px;
  height: 2rem;
  width: 2rem;
  align-content: center;
  justify-content: center;
  border: none;
}

.filterResetBtn:hover {
  background-color: #B47B84;
}

.filterLabels{
  color: #FFE7E7;
  padding-right: 6px;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}